<div class="todolist">
    <div class="card" [class.card-activated]="isActive">
        <div class="card-body">
            <h5 class="card-title">Cosas que hacer</h5>
            <div class="ingreso">
                <div class="input mb-3">
                    <input type="text" #taskInput class="form-control" placeholder="Agregar Tarea" aria-label="Agregar Tarea"
                        aria-describedby="basic-addon1" [(ngModel)]="task">
                </div>
                <div class="plusButton" (click) = "agregar()">
                    <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <g mask="url(#mask0_21_345)">
                            <path
                                d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z">
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <div class="listadecosas" *ngFor="let list of lista; let i = index">
                    <li class="list-group-item">{{list}}</li>
                    <div class="botonescosas">
                        <button class="button-complete" (click)="completadas(i)">
                            <svg class="svgIcon-complete" viewBox="0 0 448 512">
                                <path
                                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                            </svg>
                        </button>
                        <button class="button-delete" (click)="eliminar(i)">
                            <svg viewBox="0 0 448 512" class="svgIcon">
                                <path
                                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>

            </ul>
        </div>
        <div class="tareasterminadas" *ngIf="isActive">
            <h5 class="card-title">Tareas Terminadas</h5>
            <ul class="list-group list-group-flush">
                <div class="listadecosas" *ngFor="let list of terminadas; let i = index">
                    <li class="list-group-item">{{list}}</li>
                    <div class="botonescosas">
                        <button class="button-delete" (click)="eliminarter(i)">
                            <svg viewBox="0 0 448 512" class="svgIcon">
                                <path
                                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>

            </ul>
        </div>
    </div>
</div>