/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body{
    background-color: rgba(116, 52, 255, 0.651);
}
.form-control:focus {
    color: inherit !important;
    background-color: inherit !important;
    border-color: currentColor !important;
    outline: none !important;
    box-shadow: none !important;
}